<div class="relative">
    <div>
        <app-navbar />
    </div>
    <div>
        <nav class="flex items-center justify-center h-full max-w-screen-lg mx-auto px-4 py-24 sm:px-6 lg:px-8">
            <a href="#" class="text-[#121212] hover:underline">Home</a>
            <a href="#" class="text-[#121212] hover:underline ml-4">Agregar Producto</a>
            <a href="#" class="text-[#121212] hover:underline ml-4">Listado Producto</a>
        </nav>
    </div>
    <div class="">
        <app-agregar />
    </div>
</div>