<section class="max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <!-- Cards de productos -->
    @for (producto of productos; track $index) {
      <div class="bg-white border border-gray-200 rounded-lg shadow-md">
        <img [src]="producto.img! | imagen:'productos'" alt="Product" class="object-cover w-48 h-48 mx-auto p-4">
        <div class="p-4">
          <h3 class="text-gray-900 font-semibold mb-2">{{producto.name}}</h3>
          <p class="text-gray-700">{{producto.descripcion}}</p>
          <div class="mt-4 flex items-center justify-between">
            <span class="text-gray-900 font-bold">{{producto.precio}}</span>
            <button class="px-6 py-2 transition duration-200 ease-in border-2 border-gray-900 rounded-full hover:bg-gray-800 hover:text-white focus:outline-none">
              Agregar al carrito
          </button>
          </div>
        </div>
      </div>
    }
  </section>
  <!-- Paginación -->
  <div class="flex justify-center p-4">
    <!-- Previous Button -->
    <a (click)="cambiarPagina(-5)" class="flex items-center justify-center px-3 h-8 me-3 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer">
      <svg class="w-3.5 h-3.5 me-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 5H1m0 0 4 4M1 5l4-4"/>
      </svg>
      Anterior
    </a>
    <a (click)="cambiarPagina(5)" class="flex items-center justify-center px-3 h-8 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white cursor-pointer">
      Siguiente
      <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
      </svg>
    </a>
  </div>